@model Homemade.BLL.ViewModel.Identity.ChangePasswordViewModel
<!-- ***** user-dashboard-section Start ***** -->

<section class="section-style user-dashboard-section">

    <div class="container">

        <div class="user-dashboard-area">

            <div class="row">

                <partial name="_PersonalMenuPartial" />

                <div class="col-xl-9 col-lg-8">

                    <div class="user-dashboard-wrapper">

                        <div class="user-dashboard-content personal-data-area">

                            <div class="personal-data-perview">
                                <form class="personal-data-form" id="ChangePasswordForm" method="post"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-success="formSuccess"
                                      data-ajax-failure="failed">
                                    <div class="row" id="divMsgParent" style="display:none">
                                        <div class="form-group row">
                                            <div class="col-xs-12">
                                                <div id="divMsgClass" class="alert alert-danger" role="alert">
                                                    <strong id="lblMsg"></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">@Homemade.UI.Resources.Homemade.Current_Password <span style="color:red">*</span></label>
                                                <div class="password-field">
                                                    <input asp-for="OldPassword" type="password" class="form-control password-input input-focus" placeholder="@Homemade.UI.Resources.Homemade.Current_Password" />
                                                    <div class="eye-icon"></div>
                                                </div>
                                                <span style="color:red" asp-validation-for="OldPassword"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">@Homemade.UI.Resources.Homemade.NewPassword <span style="color:red">*</span></label>
                                                <div class="password-field">
                                                    <input asp-for="NewPassword" type="password" class="form-control password-input input-focus" placeholder="@Homemade.UI.Resources.Homemade.NewPassword" />
                                                    <div class="eye-icon"></div>
                                                </div>
                                                <span style="color:red" asp-validation-for="NewPassword"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">@Homemade.UI.Resources.Homemade.ConfirmPassword <span style="color:red">*</span></label>
                                                <div class="password-field">
                                                    <input asp-for="ConfirmNewPassword" type="password" class="form-control password-input input-focus" placeholder="@Homemade.UI.Resources.Homemade.ConfirmPassword" />
                                                    <div class="eye-icon"></div>
                                                </div>
                                                <span style="color:red" asp-validation-for="ConfirmNewPassword"> </span>
                                            </div>
                                        </div>

                                        <div class="col-12">

                                            <button type="submit" class="save-btn theme-btn theme-btn-7 theme-btn-lg loading-btn">@Homemade.UI.Resources.Homemade.Save_Changes </button>

                                        </div>
                                    </div>

                                </form>

                            </div>


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


</section>

<!-- *****  End ***** -->
@section Scripts{

    <script>
        function formSuccess(data) {
            $("#divMsgParent").slideUp();
            $("#divMsgParent").show();
            if (data.status == true) {
                $("#divMsgClass").attr("class", "alert alert-success");
                $("#lblMsg").html(data.message);
                $("#ChangePasswordForm").reset();
            }
            else {
                $("#divMsgClass").attr("class", "alert alert-site");
                $("#lblMsg").html(data.message);
            }
        }
    </script>
}