@inject Homemade.BLL.Setting.BlDepartments _blDepartments
@inject Homemade.BLL.Vendor.BlProduct _blProduct
@{
    ViewData["Title"] = "Index";
    var productprice = _blProduct.GetSiteProductPriceViewModel();
}

<!-- ***** shop-content-section Start ***** -->
@Html.Hidden("PageID", 1)
<section class="section-style shop-content-section">

    <div class="shop-search-area">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <div class="shop-search">

                        <div class="form-group">

                            <input type="search" class="form-control shop-search-input input-focus" id="Txt_SearchProducts" placeholder="@Homemade.UI.Resources.Homemade.What_do_you_want_to_order_today">

                        </div>
                        <button type="button" class="shop-search-btn" onclick="SearchProducts()">@Homemade.UI.Resources.Homemade.Search</button>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="container">

        <div class="row">

            <div class="col-lg-4">

                <div class="shop-sidebar-title">

                    <span><i class="fas fa-sliders-h"></i></span>
                    @Homemade.UI.Resources.Homemade.Search
                </div>
                <aside class="shop-sidebar">

                    <div class="sidebar-content same-h-1">

                        <span class="sidebar-close" href="#"><i class="fas fa-times"></i></span>



                        <div class="filters-items filter-types">

                            <h3 class="filter-title"> @Homemade.UI.Resources.Homemade.Meal_Type </h3>
                            <div class="filters-checkboxs" id="Dev_Check_Products">


                                @foreach (var item in _blDepartments.GetAllDepartments(Homemade.UI.InfraStructure.Utility.CurrentLanguageCode, _configuration["SliderImageView"]).ToList())
                                {
                                    <div class="filter-checkbox">
                                        <div class="form-check">
                                            <input class="form-check-input" @(ViewData["SearchDepartmentID"] != null ? (Convert.ToInt32(ViewData["SearchDepartmentID"]) == item.departmentID ? Html.Raw("checked") : Html.Raw("")) : Html.Raw("")) type="checkbox" value="@item.departmentID" id="Department_@item.departmentID">
                                            <label class="form-check-label" for="Department_@item.departmentID">
                                                @item.title
                                            </label>
                                        </div>
                                    </div>
                                }

                            </div>

                        </div>
                        <div class="filters-items filter-types">

                            <h3 class="filter-title"> @Homemade.UI.Resources.Homemade.Product_Type </h3>
                            <div class="filters-checkboxs" id="Dev_Check_Producttype">
                                <div class="filter-checkbox">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" id="ProductType_1">
                                        <label class="form-check-label" for="ProductType_1">
                                            @Homemade.UI.Resources.Homemade.Food
                                        </label>
                                    </div>
                                </div>
                                <div class="filter-checkbox">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="2" id="ProductType_2">
                                        <label class="form-check-label" for="ProductType_2">
                                            @Homemade.UI.Resources.Homemade.Product_Ready_Shipping
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="filters-items filter-price">

                            <div class="filter-price-head">

                                <h3 class="filter-title">@Homemade.UI.Resources.Homemade.Prices  </h3>
                                <span class="filter-title price-currency">@Homemade.UI.Resources.Homemade.SR</span>
                            </div>
                            <div class="price-range">

                                <div class="price-range-inputs">


                                    <input type="text" id="max_price" class="price-range-field form-control" readonly="">
                                    <input type="text" id="min_price" class="price-range-field form-control" readonly="">

                                </div>
                                <div id="slider-range" class="price-filter-range" name="rangeInput"></div>

                            </div>
                        </div>

                        <div class="filters-items filter-rating">

                            <h3 class="filter-title">@Homemade.UI.Resources.Homemade.Rate</h3>
                            <div class="products-rating">

                                <div id="rating" class="rating-icons" data-rate-value=5></div>

                            </div>

                        </div>

                        <div class="filters-items">

                            <button type="button" onclick="SortDepartment()" class="sort-btn show-all-lg loading-btn" style="width: 63%;float: right;">@Homemade.UI.Resources.Homemade.Search</button>
                            <button type="button" onclick="ClearAllFilter()" class="sort-btn show-all-lg loading-btn" style="width: 35%;float: left;background-color: red;">
                                <span><i class="far fa-times-circle"></i></span>
                                @Homemade.UI.Resources.Homemade.Clear
                            </button>

                        </div>

                    </div>
                    <div class="sidebar-overlay"></div>

                </aside>

            </div>
            <div class="col-lg-8">
                <div class="products-wrapper">

                    <div class="products-toolbox">


                        <div class="toolbox-left">

                            @*<div class="title-total">

                            <div class="product-title">@Model.FirstOrDefault().DepartmentsName</div>

                            </div>*@

                            <div class="title-total searchHeader">

                                <div class="product-title">@Homemade.UI.Resources.Homemade.Products</div>
                                <div class="total-product" id="TotalProduct">(@Homemade.UI.Resources.Homemade.Available_items)</div>

                            </div>


                        </div>
                        <div class="toolbox-right">

                            <div class="toolbox-sidebar-toggle">

                                <button type="button" class="sidebar-toggle">


                                    <span><i class="fas fa-sliders-h"></i></span>
                                    @Homemade.UI.Resources.Homemade.Search
                                </button>

                            </div>

                        </div>

                    </div>
                    <div class="row row-cols-xl-3 row-cols-lg-2 row-cols-md-3 row-cols-sm-2 row-cols-xs-2 row-cols-1 same-h-1" id="DevProductItemsPartial">
                    </div>
                </div>
            </div>

            <div class="col-lg-8 me-auto" id="Dev_PagingPartial">
            </div>

        </div>

    </div>
    @Html.Hidden("MinPrice")
    @Html.Hidden("MaxPrice")
    @Html.Hidden("HiddenSearchDepartmentID", ViewData["SearchDepartmentID"])
    @Html.Hidden("HiddenSearchProducts", ViewData["SearchProducts"])
    @Html.Hidden("HiddenRating")
</section>
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
    <!-- ***** shop-content-section End ***** -->
    @section Scripts{
    <!-- price-slider jqueryui js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

    <!-- rater-js js  -->
    <script src="~/assets/homeMadeSite/js/rater-js.js"></script>

    <script>
        /*------------- #loading-overlay-btn function & add btn-cart and btn-wishlist action with loading-overlay --------------*/


        function loading_overlay() {


            btn = $(this);
            btn.addClass('loading-overlay');
            if (btn.hasClass('btn-cart-wrap')) {

                btn.addClass('added');
            }
            setTimeout(function() {
                btn.removeClass('loading-overlay');
                btn.toggleClass('active')
            }, 1000);

        }


        $('.btn-cart-wrap').click(loading_overlay);
        $('.loading-btn').click(loading_overlay);


        /*------------- #add btn-cart and btn-wishlist action without loading-overlay --------------*/

        /*
        $(".btn-cart").click(function(){

              $(this).addClass('active');
          });

        */
        $(".btn-wishlist").click(function() {

            $(this).toggleClass('active');

        });
    </script>
    <script>
        $(document).ready(function() {
            $("#Txt_SearchProducts").val($("#HiddenSearchProducts").val())
            $.ajax({
                type: 'POST',
                url: "/Site/Home/GetProductItemsPartial?searchProducts=" + $("#Txt_SearchProducts").val()
                    + "&departmentsCheck=" + $("#HiddenSearchDepartmentID").val()
                    + "&page=" + $("#PageID").val(),
                data: {},
                success: function(result) {
                    $('#DevProductItemsPartial').html(result);
                    $('#TotalProduct').html("(" + $("#ProductCount").val() + " @Homemade.UI.Resources.Homemade.Available_items)");
                    $("#Dev_PagingPartial").load("/Site/Home/GetProductItemsPagingPartial?searchProducts=" + $("#Txt_SearchProducts").val()
                        + "&departmentsCheck=" + $("#HiddenSearchDepartmentID").val()
                        + "&page=" + $("#PageID").val());
                }
            });
            $("#Txt_SearchProducts").keyup(function() {
                if ($("#Txt_SearchProducts").val() == "") {
                    SearchProducts();
                }
            });
        });
        function SortDepartment() {
            var departmentCheck = [];
            var producttypeCheck = [];
            $('#Dev_Check_Products input[type=checkbox]:checked').each(function() {
                departmentCheck.push($(this).val());
            });
            $('#Dev_Check_Producttype input[type=checkbox]:checked').each(function() {
                producttypeCheck.push($(this).val());
            });

            var departlist = departmentCheck.join(",");
            var prodttypelist = producttypeCheck.join(",");
            $.ajax({
                type: 'POST',
                url: "/Site/Home/GetProductItemsPartial?departmentsCheck=" + departlist
                    + "&minPrice=" + $("#MinPrice").val() + "&maxPrice=" + $("#MaxPrice").val()
                    + "&rating=" + $("#HiddenRating").val()
                    + "&productTypeCheck=" + prodttypelist
                    + "&page=" + $("#PageID").val()
                    + "&searchProducts=" + $("#Txt_SearchProducts").val(),
                data: {},
                success: function(result) {
                    $('#DevProductItemsPartial').html(result);
                    $('#TotalProduct').html("(" + $("#ProductCount").val() + " @Homemade.UI.Resources.Homemade.Available_items)");
                    $("#Dev_PagingPartial").load("/Site/Home/GetProductItemsPagingPartial?departmentsCheck=" + departlist
                        + "&minPrice=" + $("#MinPrice").val() + "&maxPrice=" + $("#MaxPrice").val()
                        + "&rating=" + $("#HiddenRating").val()
                        + "&productTypeCheck=" + prodttypelist
                        + "&page=" + $("#PageID").val()
                        + "&searchProducts=" + $("#Txt_SearchProducts").val());
                }
            });
            $('.shop-sidebar').removeClass('active');
        }
        function SearchProducts() {
            Clearf();
            $.ajax({
                type: 'POST',
                url: "/Site/Home/GetProductItemsPartial?searchProducts=" + $("#Txt_SearchProducts").val() + "&page=" + $("#PageID").val(),
                data: {},
                success: function(result) {
                    $('#DevProductItemsPartial').html(result);
                    $('#TotalProduct').html("(" + $("#ProductCount").val() + " @Homemade.UI.Resources.Homemade.Available_items)");
                    $("#Dev_PagingPartial").load("/Site/Home/GetProductItemsPagingPartial?searchProducts=" + $("#Txt_SearchProducts").val() + "&page=" + $("#PageID").val());
                }
            });
        }
        function Clearf() {
            $('#Dev_Check_Products input[type=checkbox]:checked').each(function() {
                $(this).prop('checked', false);
            });
            $('#Dev_Check_Producttype input[type=checkbox]:checked').each(function() {
                $(this).prop('checked', false);
            });
            slide();
        }
        function ClearAllFilter() {

            Clearf();
            $.ajax({
                type: 'POST',
                url: "/Site/Home/GetProductItemsPartial?searchProducts=" + $("#Txt_SearchProducts").val() + "&page=" + $("#PageID").val(),
                data: {},
                success: function(result) {
                    $('#DevProductItemsPartial').html(result);
                    $('#TotalProduct').html("(" + $("#ProductCount").val() + " @Homemade.UI.Resources.Homemade.Available_items)");
                    $("#Dev_PagingPartial").load("/Site/Home/GetProductItemsPagingPartial?searchProducts=" + $("#Txt_SearchProducts").val() + "&page=" + $("#PageID").val());
                }
            });
        }
        $(function() {
            slide();
        });
        var starRatingStep = raterJs({
            reverse: true, //this enable rtl
            starSize: 30,
            step: 0.5,
            element: document.querySelector("#rating"),
            rateCallback: function rateCallback(rating, done) {
                this.setRating(rating);
                $("#HiddenRating").val(rating);
                done();
            }
        });
        function slide() {
            $("#slider-range").slider({
                range: true,
                orientation: "horizontal",
                min: @productprice.MinProductPrice,
                max: @productprice.MaxProductPrice,
                values: [@productprice.MinProductPrice, @productprice.MaxProductPrice],


                slide: function(event, ui) {
                    if (ui.values[0] == ui.values[1]) {
                        return false;
                    }
                    $("#MinPrice").val(ui.values[0]);
                    $("#MaxPrice").val(ui.values[1]);
                    $("#min_price").val(ui.values[0] + " @Homemade.UI.Resources.Homemade.SR");
                    $("#max_price").val(ui.values[1] + " @Homemade.UI.Resources.Homemade.SR");
                }
            });

            $("#min_price").val($("#slider-range").slider("values", 0) + " @Homemade.UI.Resources.Homemade.SR");
            $("#max_price").val($("#slider-range").slider("values", 1) + " @Homemade.UI.Resources.Homemade.SR");
        }


        function AddToCart_jq_Ex(ProductID, c, t) {
            //  btn-cart-wrap loading-overlay added
            //  btn-cart-wrap added active
            $("#btn_actionCart_" + ProductID + "").addClass('loading-overlay added');
            AddToCart(ProductID, c, t);
            setTimeout(function() {
                $("#btn_actionCart_" + ProductID + "").removeClass('loading-overlay added');
                $("#btn_actionCart_" + ProductID + "").addClass('added active');
            }, 2000);
        }
        function GoToPage(page) {
            if (page == 0) {
                $("#PageID").val(1);
            }
            else if (page > $("#PageCount").val()) {
                $("#PageID").val($("#PageCount").val());
            }
            else {
                $("#PageID").val(page);
            }
            SortDepartment();
        }
    </script>
}