<!-- ***** provider-apply-section Start ***** -->

<section class="section-style provider-apply-section">


    <div class="container">

        <div class="row">


            <div class="col-12">

                <div class="provider-apply-area">

                    <div class="provider-apply-area-head">

                        <h1 class="provider-apply-title title-2">@Homemade.UI.Resources.Homemade.Apply_with_us_as_aservice_provider</h1>
                        <p class="provider-apply-head-text">@Homemade.UI.Resources.Homemade.And_be_among_the_best_chefs_and_party_hosts_in_the_Kingdom</p>
                    </div>
                    <div class="request-success-area">

                        <div class="area-icon">

                            <img src="~/assets/homeMadeSite/img/laughing.png" />

                        </div>
                        <h2 class="title-2">@Homemade.UI.Resources.Homemade.Thank_You</h2>
                        <p class="success-text">

                            @Homemade.UI.Resources.Homemade.Your_request_has_been_registered_as_a_Vendor
                             

                        </p>
                        <a class="theme-btn theme-btn-7" href="/Site/Home/Index">@Homemade.UI.Resources.Homemade.Continue_browsing</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

<!-- ***** provider-apply-section Start ***** -->