@{
    ViewData["Title"] = "Index";
    var veddata = blVendor.GetVendorViewModelByGuid((Guid)ViewBag.VendorsGuid, Homemade.UI.InfraStructure.Utility.CurrentLanguageCode, _configuration["VendorImageView"]);
}



<!-- ***** vendor-section Start ***** -->
@Html.Hidden("VendorsID", veddata.VendorsID)
@Html.Hidden("PageID", 1)
<section class="section-style vendor-section">

    <div class="container">

        <div class="row">

            <div class="col-12">


                <div class="vendor-introductory-area">

                    <div class="vendor-introductory-banner" style="background-image: url(@veddata.Banner)"></div>

                    <div class="vendor-introduction-details-container">

                        <div class="vendor-details">

                            <div class="vendor-img">

                                <img class="img-fluid" src="@veddata.Logo">

                            </div>
                            <div class="vendor-info">

                                <div class="vendor-info-head">

                                    <div class="vendor-name title-2">@veddata.StoreName</div>
                                </div>
                                <div class="vendor-text">
                                    @if (Homemade.UI.InfraStructure.Utility.CurrentLanguageCode == "ar")
                                    {
                                        @veddata.AboutStoreAr
                                    }
                                    else
                                    {
                                        @veddata.AboutStoreEn
                                    }

                                </div>
                                @if (!blVendor.IsVendorWorking(veddata.VendorsID))
                                {
                                    <h3 style="color:red">
                                        @Homemade.UI.Resources.Homemade.Closed_Now
                                    </h3>
                                }
                                else
                                {
                                    <h3 style="color:green">
                                        @Homemade.UI.Resources.Homemade.Open_now_and_ready_to_receive_orders
                                    </h3>
                                }
                                @{
                                    var working = blVendor.GetVendorWorkingTimeByID(veddata.VendorsID, Homemade.UI.InfraStructure.Utility.CurrentLanguageCode);
                                }
                                <span style="color:red">
                                    @working.SiteDaysWork
                                    @if (!string.IsNullOrEmpty(working.SiteTimeWork))
                                    {
                                        @working.SiteTimeWork
                                    }
                                </span>
                                @if (!string.IsNullOrEmpty(working.SiteDaysVac))
                                {
                                    <span style="color:red">
                                        @working.SiteDaysVac
                                        @if (!string.IsNullOrEmpty(working.SiteTimeVac))
                                        {
                                            @working.SiteTimeVac
                                        }
                                    </span>
                                }
                            </div>

                        </div>

                    </div>

                    <div class="divider-line"></div>

                </div>

            </div>
        </div>
    </div>


</section>

<!-- ***** vendor-section End ***** -->
<!-- ***** vendor-products-section Start ***** -->

<section class="section-style vendor-products-section">


    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="vendor-products-area">

                    <div class="vendor-products-head">

                        <div class="vendor-products-title title-2">أشهر المنتجات</div>
                        <p class="vendor-products-text">يوجد جميع الأصناف والاطباق التي تناسب اغلب الأذواق</p>

                    </div>
                    <div class="vendor-products-wrapper" id="DevVendorProductsPartial">
                    </div>
                </div>

            </div>
            <div class="col-lg-12 me-auto" id="Dev_PagingPartial">
            </div>

        </div>

    </div>

</section>

<!-- ***** vendor-products-section End ***** -->
@section Scripts{
    <script>
        $(document).ready(function() {
            GoToPage(1);
        });
        function GoToPage(page) {
            if (page == 0) {
                $("#PageID").val(1);
            }
            else if (page > $("#PageCount").val()) {
                $("#PageID").val($("#PageCount").val());
            }
            else {
                $("#PageID").val(page);
            }
            $("#DevVendorProductsPartial").load("/Site/Home/GetVendorProductsPartial?vendorsID=" + $("#VendorsID").val() + "&page=" + $("#PageID").val());
            $("#Dev_PagingPartial").load("/Site/Home/GetVendorProductsPagingPartial?vendorsID=" + $("#VendorsID").val()
                + "&page=" + $("#PageID").val());
        }
        function AddToCart_jq_Ex(ProductID, c, t) {
            //  btn-cart-wrap loading-overlay added
            //  btn-cart-wrap added active
            $("#btn_actionCart_" + ProductID + "").addClass('loading-overlay added');
            AddToCart(ProductID, c, t);
            setTimeout(function() {
                $("#btn_actionCart_" + ProductID + "").removeClass('loading-overlay added');
                $("#btn_actionCart_" + ProductID + "").addClass('added active');
            }, 2000);
        }
    </script>
}