@model IQueryable<Homemade.BLL.ViewModel.Order.OrderRateViewModel>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-12 form-group text-left">
            <a href="/Customer/Customer/Details/@item.CustomersGuid">
                <img class="img" style="width: 100px; height: 100px; border-radius: 100%;" src="@item.CustomerImage">
            </a>
            <label class="form-material">
                @item.CustomerName
                <br />
                @item.RateDate
            </label>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-material">
                    @Html.DisplayFor(x => item.AnswerRate)
                    <label for="material-text2">@item.RateTitle </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <hr style="border: 1px solid #000;" />
        </div>
    }
}
