@inject Homemade.BLL.BLPermission blPermission
@{
    var IsPermissionUpdate = @blPermission.GetPermissionByUserAndController(User.Identity.Name, (int)Homemade.BLL.ControllerEnum.MainPages, (int)Homemade.BLL.ActionEnum.Update) ? 1 : 0;
    var IsPermissionDelete = @blPermission.GetPermissionByUserAndController(User.Identity.Name, (int)Homemade.BLL.ControllerEnum.MainPages, (int)Homemade.BLL.ActionEnum.Delete) ? 1 : 0;
}
<script>
    $(document).ready(function() {
        var table = $('#tbl').DataTable({
            pageLength: 10,
            pagijngType: "full_numbers",
            serverSide: true,
            processing: true,
            lengthMenu: [[5, 10, 10, 20, 50, 100], [5, 10, 10, 20, 50, 100]],
            sAjaxSource: '@Url.Action("LoadTable")',
            "fnServerParams": function(aoData) {
                var MainPageId = $("#MainPageID").val();
                aoData.push({ "name": "mainPageId", "value": MainPageId });
            },
            sServerMethod: "POST",
            bPaginate: true,
            paging: true,
            bFilter: true,
            bLengthChange: false,
            columns: [
                {
                    "data": null,
                    "sortable": false,
                    render: function(data, type, row, meta) {
                        return '<label>' + (meta.row + meta.settings._iDisplayStart + 1) + '</label>';
                    }
                },
                {
                    data: null,
                    bSortable: true,
                    render: function(data, type, row) {
                        return '<input type="hidden" value="' + data.mainPageDetailsID + '"/><label class="arName">' + data.mainPageDetailsTitle + '</label>';
                    }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function(data, type, row) {
                        var IsEnable = data.isEnable == 1 ? "<span style='background: #ddf7e8;color: #3c763d;padding:8px;'>@Homemade.UI.Resources.Homemade.Enabled</span>"
                            : "<span style='background: #f9eae8;color:#c54736;padding:8px;'>@Homemade.UI.Resources.Homemade.Disabled</span>";

                        return '<label>' + IsEnable + '</label>';
                    }
                },
                {

                    data: null,
                    bSortable: true,
                    render: function(data, type, row) {
                        var databutton = '';
                        var xtitle = data.isEnable ? "@Homemade.UI.Resources.Homemade.Disable" : "@Homemade.UI.Resources.Homemade.Enable";
                        var icon = data.isEnable ? "fa fa-ban" : "fa fa-check";
                        if (@IsPermissionUpdate == 1) {
                            databutton += '<button class="btn btn-xs btn-warning" style="margin:4px" type="button" data-toggle="tooltip" onclick="ChangeStatue(this);" data-id="' + data.mainPageDetailsID + '" title="' + xtitle + '"><i class="' + icon + '"></i></button>';

                            databutton += '<a class="btn btn-xs btn-success" data-titleAr ="' + data.titleAr + '" data-titleEn="' + data.titleEn + '" data-descAr="' + data.descAr + '" data-descEn="' + data.descEn + '"  data-toggle="tooltip" title="@Homemade.UI.Resources.Homemade.Edit" style="margin:4px" onclick="ShowModal(this)" data-id="' + data.mainPageDetailsID + '" data-mainPageID ="' + data.mainPageID + '" data-vedioLink ="' + data.vedioLink + '" type="button" data-toggle="tooltip" title="@Homemade.UI.Resources.Homemade.Update"><i class="fa fa-edit"></i></a>  ';
                        }

                        if (@IsPermissionDelete == 1) {
                            databutton += '<a class="btn btn-xs btn-danger" data-toggle="tooltip" title="@Homemade.UI.Resources.Homemade.Delete" style="margin:4px"' +
                                ' onclick="Delete(this)" data-id="' + data.mainPageDetailsID + '" data-toggle="tooltip" title="@Homemade.UI.Resources.Homemade.Delete"><i class="fa fa-trash"></i></a>';
                        }
                        return databutton;
                    }
                }
            ],
            drawCallback: function(s) {
                $('[data-toggle="tooltip"]').tooltip();
            },
            buttons: [
                {
                    extend: "excelHtml5",
                    autoFilter: true,
                    sheetName: 'Exported data',
                    className: "btn btn-success btn-xs",
                    text: '@Homemade.UI.Resources.Homemade.Excel'
                }, {
                    extend: "pdfHtml5",
                    download: 'open',
                    className: "btn btn-info btn-xs",
                    text: '@Homemade.UI.Resources.Homemade.PDF'
                }],
            "language": {
                "search": "_INPUT_",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_",
            }, dom: "<'row'<'col-sm-12'<'text-center bg-body-light py-2 mb-2'B>>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"


        });
        table.buttons().container().appendTo('.dt_buttons_wrap');

    });

</script>