@model Homemade.BLL.ViewModel.Setting.DiscountViewModel
<style>
    .controls {
        width: 250px !important;
    }
</style>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout modal-dialog-scrollable" role="document">

        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header">
                    <h3 class="block-title" id="title">
                        Add Vat Discount
                    </h3>
                    <div class="block-options">
                        <button type="button" class="close btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="ion-android-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content modal-body">
                    <form method="post" id="frmCreate" onsubmit="return false"
                          data-ajax="true"
                          data-ajax-complete="completed"
                          data-ajax-method="post">

                        <div class="form-group">
                            <input asp-for="DiscountID" type="hidden" />
                            <label for="material-text2">@Homemade.UI.Resources.Homemade.DiscountValue <span style="color: red">*</span></label>
                            <input asp-for="DiscountValue" type="number" class="form-control" maxlength="6" value="" onkeypress="return isNumberKey(event)" />
                            <span style="color: red" asp-validation-for="DiscountValue"> </span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input id="DiscountTypeID2" value="1" name="DiscountTypeID" checked type="radio" />
                                <label for="DiscountTypeID2">@Homemade.UI.Resources.Homemade.Discount</label>
                            </div>
                            <div class="col-md-4">
                                <input id="DiscountTypeID3" value="3" name="DiscountTypeID" type="radio" />
                                <label for="DiscountTypeID3">@Homemade.UI.Resources.Homemade.Vat</label>
                            </div>
                            <div class="col-md-4">
                                <input id="DiscountTypeID3" value="3" name="DiscountTypeID" type="radio" />
                                <label for="DiscountTypeID3">@Homemade.UI.Resources.Homemade.DeliveryVat</label>
                            </div>

                            <span style="color: red" asp-validation-for="DiscountTypeID"> </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-white-op-t">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"> @Homemade.UI.Resources.Homemade.Close </button>
                <button class="btn btn-sm bg-orange" id="btnSave" type="button"> @Homemade.UI.Resources.Homemade.save</button>
            </div>
        </div>
    </div>
</div>
