@model IQueryable<Homemade.BLL.ViewModel.Order.ProdQuestionViewModel>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-12 form-group text-left">
            <a href="/Vendor/Product/Details/@item.ProductGuid">
                <img class="img" style="width: 100px; height: 100px; border-radius: 100%;" src="@item.ProductImage">
            </a>
            <label class="form-material">
                @item.CustomerName
                <br />
                @item.QuestionDate
            </label>
            <br />
            <label class="form-material">@item.ProductName</label>
        </div>
        <div class="col-md-6 col-sm-12 row text-right">
            <div class="text-center pull-right">
                <a href="/Vendor/Vendors/Details/@item.VendorsGuid">
                    <img class="img" style="width: 100px; height: 100px; border-radius: 100%;" src="@item.VendorImage">
                </a>
                <br />
                <label class="form-material">@item.VendorName</label>
                <br />
                <button class="btn btn-danger" onclick="DeleteQuestions(@item.ProdQuestionID)"><i class="fa fa-trash"></i> @Homemade.UI.Resources.Homemade.Delete</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="material-text2">@item.Question</label>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <hr style="border: 1px solid #000;" />
        </div>
    }
}
