@model Homemade.BLL.ViewModel.Employees.ProfileViewModel



<form class="row" action="base_pages_contact.html" method="post">
    <div class="col-md-12">
        <div class="form-group">
            <label for="profile-password">
                @Homemade.UI.Resources.Homemade.Current_Password
            </label>
            <input class="form-control input-lg" type="password" id="OldPassword" name="OldPassword" data-val="true"
                   data-val-required="@Homemade.BLL.Resources.HomemadeErrorMessages.Required">
            <span style="color:red;" class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="profile-password-new">
                @Homemade.UI.Resources.Homemade.NewPassword
            </label>
            <input class="form-control input-lg" type="password" id="NewPassword" name="NewPassword" data-val="true"
                   data-val-required="@Homemade.BLL.Resources.HomemadeErrorMessages.Required">
            <span style="color:red;" class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="profile-password-new-confirm">
                @Homemade.UI.Resources.Homemade.ConfirmPassword
            </label>
            <input class="form-control input-lg" type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" data-val="true"
                   data-val-required="@Homemade.BLL.Resources.HomemadeErrorMessages.Required"
                   data-val-equalto="@Homemade.UI.Resources.Homemade.PasswordNotMatched"
                   data-val-equalto-other="*.NewPassword">
            <span style="color:red;" class="field-validation-valid" data-valmsg-for="ConfirmNewPassword" data-valmsg-replace="true"></span>

        </div>
    </div>

    <div class="form-group" id="btnSaveMainData">
        <div class="col-md-12 text-right">
            <button class="btn btn-custom bg-orange" id="btnSavePassword" type="submit"><i class="fa fa-check pull-left"></i> @Homemade.UI.Resources.Homemade.save</button>
        </div>
    </div>
</form>
