@model string
@{
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<form method="post" id="frmCreate" class="js-validation-login" data-ajax="true" data-ajax-complete="afterForgetPass">
    <p class="log_stat">@Homemade.UI.Resources.Homemade.ResetPassword</p>

    <div class="form-group" id="divMsgParent" style="display:none">
        <div id="divMsgClass" class="alert alert-danger" role="alert">
            <strong id="lblMsg">
                @Html.ValidationMessage("EmailError")
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="form-group push-15">
        <label for="Code">@Homemade.UI.Resources.Homemade.MobileNumber</label>
        <input type="text" name="username" data-val="true" data-val-required="@Homemade.BLL.Resources.HomemadeErrorMessages.Required"
               id="username" class="form-control" data-val-regex="@Homemade.BLL.Resources.HomemadeErrorMessages.UserNameRequierd" />
    </div>
    @Html.ValidationMessage("username", htmlAttributes: new { style = "color:red;", @class = "help-block text-right animated fadeInDown" })


    <div class="btn-log">
        <button class="btn btn-block" id="btnSave" type="submit"> @Homemade.UI.Resources.Homemade.Send</button>
    </div>
   
</form>
@section Scripts{
    <script charset="utf-8" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script charset="utf-8" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script charset="utf-8" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function afterForgetPass(xhr) {
            var result = JSON.parse(xhr.responseText);
            $("#divMsgParent").hide();
            $("#divMsgParent").show();
            $("#divMsgClass").removeClass("alert-danger");
            $("#divMsgClass").removeClass("alert-success");
            if (result.status == true) {
                $("#divMsgClass").addClass("alert-success");
                $("#lblMsg").html(result.message);

                setTimeout(function () {
                    location.href = "/Identity/Account/ResetPassword";
                }, 2000);
            }
            else {
                $("#divMsgClass").addClass("alert-danger");
                $("#lblMsg").html(result.message);
            }
        }
    </script>
}