

@{
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}


<form class="js-validation-login form-horizontal push-30-t" method="post"
      data-ajax="true"
      data-ajax-complete="afterResetPass"
      data-ajax-method="post"
      data-ajax-success="afterResetPass"
      id="frmCreate">

    <p class="log_stat" id="smsverify">@Homemade.UI.Resources.Homemade.SMSVerify</p>

    <div class="form-group" id="divMsgParent" style="display:none;">
        <div id="divMsgClass" class="alert alert-danger" role="alert">
            <strong id="lblMsg">
                @Html.ValidationMessage("CodeError")
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-material form-material-primary floating">
                <label for="Code">@Homemade.UI.Resources.Homemade.Verified_Code</label>
                <input type="text" name="Code" data-val="true" data-val-required="@Homemade.BLL.Resources.HomemadeErrorMessages.Required"
                       id="Code" class="form-control" value="" />
            </div>
            @Html.ValidationMessage("Code", htmlAttributes: new { style = "color:red;", @class = "help-block text-right animated fadeInDown" })
        </div>
    </div>
    <div id="divConfirmPass" style="display:none;">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="form-material form-material-primary floating">
                    <label for="Password">@Homemade.UI.Resources.Homemade.NewPassword</label>
                    <input class="form-control" type="password" id="Password" name="Password" data-val="true" data-val-required="@Homemade.BLL.Resources.HomemadeErrorMessages.Required" />
                </div>
                @Html.ValidationMessage("Password", htmlAttributes: new { style = "color:red;", @class = "help-block text-right animated fadeInDown" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="form-material form-material-primary floating">
                    <label for="ConfirmPassword">@Homemade.UI.Resources.Homemade.ConfirmPassword</label>
                    <input class="form-control" type="password" id="ConfirmPassword" data-val="true"
                           data-val-equalto="@Homemade.UI.Resources.Homemade.PasswordNotMatched"
                           data-val-equalto-other="*.Password"
                           name="ConfirmPassword" data-val-required="@Homemade.BLL.Resources.HomemadeErrorMessages.Required">
                </div>
                @Html.ValidationMessage("ConfirmPassword", htmlAttributes: new { style = "color:red;", @class = "help-block text-right animated fadeInDown" })
            </div>
        </div>
    </div>
    <div style="display:none;">
        <p class="text-center">
            @Homemade.UI.Resources.Homemade.PasswordChanged
            <a class="btn btn-success" href="@Url.Action("LogIn")">@Homemade.UI.Resources.Homemade.Login</a>
        </p>
    </div>
    <div class="form-group push-30-t">
        <div class="col-xs-12 btn-log">
            <button class="btn btn-sm btn-block btn-primary" id="btnSave" type="button"> @Homemade.UI.Resources.Homemade.Verify</button>
        </div>
    </div>
    @*<div class="form-group push-30-t">
            <div class="col-xs-12">
                <a href="@Url.Action("LogInVendor")" class="btn btn-sm btn-block btn-custom bg-orange">@Homemade.UI.Resources.Homemade.Login</a>
            </div>
        </div>
        <div class="form-group push-30-t">
            <div class="col-xs-12">
                <a style="cursor:pointer;" id="btnResendCode" class="btn btn-sm btn-block btn-custom bg-orange">@Homemade.UI.Resources.Homemade.Resend</a>
            </div>
        </div>*@
</form>

@section Scripts{
    <script charset="utf-8" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script charset="utf-8" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script charset="utf-8" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        let antiToken = $('[name=__RequestVerificationToken]').val(),
            password = $("#password"),
            confirmPassword = $("#ConfirmPassword"),
            isConfirmCode = true,
            lblMsg = $("#lblMsg"),
            divMsgParent = $("#divMsgParent"),
            btnSave = $("#btnSave");

        function afterSubmitCode(res) {
            if (res.status == true) {
                $("#divConfirmPass").slideDown().prev().slideUp();
                isConfirmCode = false;
                divMsgParent.slideUp();
                $("#divMsgSent").slideUp();
                $($($("#btnResendCode").parent()).parent()).slideUp();
                $("#smsverify").hide();
                btnSave.html("@Homemade.UI.Resources.Homemade.save");
            }
            else {
                if (res.reload && res.reload == true) {
                    // empty session
                    window.location.href = '@Url.Action("ForgetPassword")';
                }
                lblMsg.html(res.message);
                divMsgParent.slideDown();
            }
        }

        function afterResetPass(res) {
            if (res.status == true) {
                $("#divConfirmPass").html("@Homemade.UI.Resources.Homemade.PasswordChangedAndLogin");
                divMsgParent.slideUp().html('');
                lblMsg.html('');
                btnSave.slideUp();
                $("#divHeader").slideUp();
                $("#divMsgSent").slideUp();

                setTimeout(function () {
                    location.href = "/Vendor/Vendors/Index";
                }, 2000);
            }
            else {
                if (res.reload && res.reload == true) {
                    // empty session
                    window.location.href = '@Url.Action("ForgetPassword")';
                }
                let s = '';

                lblMsg.html(res.message?.replace('-', '<br />'));
                divMsgParent.slideDown();
            }
        }

        $(function () {
            btnSave.click(function (e) {
                e.preventDefault();
                if ($('#frmCreate').valid()) {
                    if (isConfirmCode) {
                        $.post('@Url.Action("ConfirmCode")',
                            {
                                'Code': $('#Code').val(),
                                '__RequestVerificationToken': antiToken
                            }, afterSubmitCode);
                    } else {
                        $('#frmCreate').submit();
                    }
                }
            });

            $("#btnResendCode").click(function () {
                  @*swal({
                        title: "@Homemade.UI.Resources.Homemade.Resend",
                        text: "",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonClass: "btn-info",
                        confirmButtonText: "@Homemade.UI.Resources.Homemade.Yes",
                        cancelButtonText: "@Homemade.UI.Resources.Homemade.No",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {*@
                $("#divMsgParent").hide();
                $("#divMsgClass").removeClass("alert-danger");
                $("#divMsgClass").removeClass("alert-success");
                $.post("@Url.Action("ResendCode")", { '__RequestVerificationToken': antiToken }, function (res) {
                    if (res == true) {
                        $("#divMsgClass").addClass("alert-success");
                        $("#lblMsg").html('@Homemade.UI.Resources.Homemade.SuccessSendCode');
                        $("#divMsgParent").show();
                    } else {
                        $("#divMsgClass").addClass("alert-danger");
                        $("#lblMsg").html('@Homemade.UI.Resources.Homemade.CannotSendSms');
                        $("#divMsgParent").show();
                    }
                });
            });
        });
    </script>
}
