
@inject Homemade.BLL.Setting.BlMainCategory blMainCategory
@model Homemade.BLL.ViewModel.Setting.InqueriesViewModel
@inject Homemade.BLL.BLPermission blPermission
<div>
    @Html.AntiForgeryToken()
    <div class="content">
        <!-- Dynamic Table Full -->
        <div class="block">
            <div class="block-header bg-gray-lighter">

                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            <span class="header-title">@Homemade.UI.Resources.HomemadeMenu.Inquiries</span>
                        </h3>
                    </div>
                    <div class="col-md-6">

                        <div class="col-md-3">
                        </div>
                        <div class="text-right row">
                            <div class="col-md-12 paddingleft-0">
                                <div class="form-group block-search push-5-r pull-right">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ion-search"></i></div>
                                        <input type="text" class="form-control" id="DT_search" placeholder="@Homemade.UI.Resources.Homemade.EnterSearchKeywords">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dt_buttons_wrap text-right"></div>
                    </div>
                </div>
            </div>
            <div class="block-content">
                <div class="row" id="divMsgParent" style="display:none">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div id="divMsgClass" class="alert alert-danger" role="alert">
                                <strong id="lblMsg"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tbl" class="table table-custom js-dataTable-buttons">
                    <thead>
                        <tr>
                            <th class="text-center">@Homemade.UI.Resources.Homemade.SNumber</th>
                            <th class="text-center">@Homemade.UI.Resources.Homemade.Name</th>
                            <th class="text-center">@Homemade.UI.Resources.Homemade.Email</th>
                            <th class="text-center">@Homemade.UI.Resources.Homemade.Message</th>
                            <th class="text-center">@Homemade.UI.Resources.Homemade.Mobile</th>
                            <th class="text-center">@Homemade.UI.Resources.Homemade.Date</th>
                            <th class="text-center">@Homemade.UI.Resources.Homemade.Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<partial name="_Modal" />
@section Styles {
    <!-- Data_Table Styles -->
    <link rel="stylesheet" href="~/assets/js/plugins/datatables/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/datatables/buttons-bs4/buttons.bootstrap4.min.css" />
    <!-- Select 2 Styles -->
    <link rel="stylesheet" href="~/assets/js/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/select2/select2-bootstrap.min.css" />
    <style>
        .dataTables_filter {
            display: none;
        }
    </style>
}

@section Scripts {
    <!-- Data_table Plugins -->
    <script charset="utf-8" src="~/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/dataTables.buttons.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/buttons.print.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/buttons.html5.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/buttons.flash.min.js"></script>
    <!-- Select 2 Scripts -->
    <script charset="utf-8" src="~/assets/js/plugins/select2/select2.full.min.js"></script>

    <!-- Page JS Plugins -->
    <script src="~/assets/js/plugins/summernote/summernote.min.js"></script>
    <script src="~/assets/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/assets/js/plugins/simplemde/simplemde.min.js"></script>

    <script>
        var config = {

        };
        CKEDITOR.replace('EmailContent', config);
    </script>

    <partial name="_Scripts" />
    <partial name="_DataTable" />
}