@model Homemade.BLL.ViewModel.Setting.ShippingCompanyViewModel
@inject Homemade.BLL.General.BLGeneral bLGeneral
<div class="content">
    <div class="block">
        <div class="block-content h_scroll">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="block-title">
                        <span class="header-title"> @(Homemade.UI.InfraStructure.Utility.CurrentLanguageCode == "ar" ? Html.DisplayFor(x => x.NameAr) : Html.DisplayFor(x => x.NameEn) )  </span>
                    </h3>
                </div>
            </div>

            <div class="block-content tab-content">
                <div class="tab-pane active" id="Main_Data">
                    <div class="row">
                        <input type="hidden" asp-for="ShippingCompanyID" />
                        @Html.AntiForgeryToken()
                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.NameAr)
                                <label for="material-text2">@Homemade.UI.Resources.Homemade.NameArabic</label>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.NameEn)
                                <label for="material-text2">@Homemade.UI.Resources.Homemade.NameEnglish</label>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.MobileNo)
                                <label for="material-text2">@Homemade.UI.Resources.Homemade.Mobile </label>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.PhoneNo)
                                <label for="material-select2">@Homemade.UI.Resources.Homemade.PhoneNumber </label>

                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.NameCity)
                                <label for="material-select2">@Homemade.UI.Resources.Homemade.City</label>

                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.MaxKM)
                                <label for="material-select2">@Homemade.UI.Resources.Homemade.Max_KM</label>

                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.DeliveryPrice)
                                <label for="material-select2">@Homemade.UI.Resources.Homemade.DeliveryPrice</label>

                            </div>
                        </div>


                        <div class="col-md-6 form-group">
                            <div class="form-material">
                                @Html.DisplayFor(x => x.Email)
                                <label for="material-text2">@Homemade.UI.Resources.Homemade.Email </label>
                            </div>
                        </div>


                        <div class="col-md-6 form-group">
                            <div class="form-material">

                                <img src="@Model.Logo" class="img" width="100" height="100" style="display:block;margin-bottom:7px;" />
                                <label for="material-select2">@Homemade.UI.Resources.Homemade.Logo</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Scripts/App/Google/Map.js" id="txtScript"></script>
}
