<script>
    var table = $('#tbl').DataTable({
        "createdRow": function (row, data, dataIndex) {
            if (data.verifyStc === 0 || data.verifyStc === 2) { //غير مفعل
                $(row).css({ 'background': 'rgb(243 132 132 / 28%)' });
            }
            if (data.openTransaction === true) {
                $(row).css({ 'background': 'rgb(33 236 71 / 27%)' });
            }
        },
        pageLength: 10,
        pagijngType: "full_numbers",
        serverSide: true,
        processing: true,
        lengthMenu: [[5, 10, 20, 50, 100], [5, 10, 20, 50, 100]],
        sAjaxSource: '/Drivers/DriverBlance/LoadTablePay',
        sServerMethod: "POST",
        bPaginate: true,
        paging: true,
        columns: [
            {
                "data": null,
                "sortable": false,
                render: function (data, type, row, meta) {
                    return '<label>' + (meta.row + meta.settings._iDisplayStart + 1) + '</label>';
                }
            },
            {
                data: null,
                bSortable: true,
                render: function (data, type, row) { return '<label>' + data.driverName + '</label>' }

            },
            {
                data: null,
                bSortable: true,
                render: function (data, type, row) { return '<label>' + data.mobileNo + '</label>' }

            },
            {
                data: null,
                bSortable: true,
                render: function (data, type, row) { return '<label>' + data.orderNumber + '</label>' }
            },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label>' + data.amount + '</label>' }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label>' + getFormatDate(data.dateOperation) + '</label>' }

            },
            {

                data: null,
                bSortable: true,
                render: function (data, type, row) {
                    var databutton = '';
                    if (data.orderVendorID != "" && data.orderVendorID != null) {
                        databutton += '<a class="btn btn-xs btn-success" style="margin:4px" href="/Order/Orders/Details?orderVendorGuid=' +
                        data.orderVendorGuid + '" type="button" data-toggle="tooltip" title="@Homemade.UI.Resources.Homemade.Details"><i class="fa fa-search"/></a>';
                    } else {
                        databutton += '<i class=""></i>'
                    }
                    return databutton;
                }
            },
            ],
            buttons: [
                {

                    text: '@Homemade.UI.Resources.Homemade.Excel',
                    className: "btn btn-success btn-xs",
                    action: function (e, dt, node, config) {
                        //DownloadExcel();
                    }
                },
                {
                    text: '@Homemade.UI.Resources.Homemade.Print',
                    className: "btn btn-warning btn-xs",
                    action: function (e, dt, node, config) {
                        //Print();
                    }
                },
                    {
                    text: '@Homemade.UI.Resources.Homemade.PDF',
                    className: "btn btn-info btn-xs",
                    action: function (e, dt, node, config) {
                        //PDF();
                    }
            }],
        drawCallback: function (s) {
            $('[data-toggle="tooltip"]').tooltip();
        },
        //"lengthMenu": [[5, 10, 20, 50, 100], [10, 25, 50, "All"]],
       // "language": Ctrl_lang,
        dom: "<'row'<'col-sm-12'<'text-center bg-body-light py-2 mb-2'B>>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"


    });
    table.buttons().container().appendTo('.dt_buttons_wrap');
    function readtable() {
        table.ajax.url('/Drivers/DriverBlance/LoadTablePay?driverID=' + $("#DriverID").val() + '&taxiNumber=' + $("#TaxiNumber").val()
            + '&tripNo=' + $("#TripNo").val() + '&driverMobile=' + $("#DriverMobile").val() + '&fromDate=' + $("#FromDate").val() + '&toDate=' + $("#ToDate").val()
            + '&isEnable=' + $("input[type='radio'][name='Enable']:checked").val() + '&isActive=' + $("input[type='radio'][name='Active']:checked").val()
            + '&lowest=' + $("#LowestBalance").val());
        table.ajax.reload();
        GetTotals();
    }
     function GetTotals() {
        $.ajax({
            type: "POST",
            url: '/Drivers/DriverBlance/PayTotals?driverID=' + $("#DriverID").val() + '&taxiNumber=' + $("#TaxiNumber").val()
                + '&tripNo=' + $("#TripNo").val() + '&driverMobile=' + $("#DriverMobile").val() + '&fromDate=' + $("#FromDate").val() + '&toDate=' + $("#ToDate").val()
                + '&isEnable=' + $("input[type='radio'][name='Enable']:checked").val() + '&isActive=' + $("input[type='radio'][name='Active']:checked").val()
                + '&lowest=' + $("#LowestBalance").val() + '&type=2',
            data: {},
            success: function (response) {
                $("#Trips_SPN").html(response.totalTrips);
                $("#Drivers_SPN").html(response.totalDrivers);
                $("#Amount_SPN").html(response.totalAmount + " SAR");
                if (response.totalAmount > 0) {
                    $("#BTNSTC").show();
                    $("#BTNCash").show();
                } else {
                    $("#BTNSTC").hide();
                    $("#BTNCash").hide();
                }
            }
        });
    }
    function STCPay() {
        if ($("#tbl tbody tr").length > 0 && ($("#tbl tbody tr td").hasClass("dataTables_empty") == false)) {
            @await Component.InvokeAsync(typeof(SwalActionScript) , new Swal(SwalActions.Add , "ConfirmSTCPay();")
       { Title = "\"" + Homemade.UI.Resources.Homemade.Confirm_Pay + "\"" })
        }
        else {
            @await Component.InvokeAsync(typeof(SwalActionScript) , new Swal(SwalActions.Error , "" , false , false , false)
         { Title = "\"" + Homemade.UI.Resources.Homemade.NoDataFound + "\"" })
        }
    }
    function CashPay() {
        if ($("#tbl tbody tr").length > 0 && ($("#tbl tbody tr td").hasClass("dataTables_empty") == false)) {
            @await Component.InvokeAsync(typeof(SwalActionScript) , new Swal(SwalActions.Add , "ConfirmCashPay();")
       { Title = "\"" + Homemade.UI.Resources.Homemade.Confirm_Pay + "\"" })
        }
        else {
            @await Component.InvokeAsync(typeof(SwalActionScript) , new Swal(SwalActions.Error , "" , false , false , false)
         { Title = "\"" + Homemade.UI.Resources.Homemade.NoDataFound + "\"" })
        }
    }
    function ConfirmSTCPay() {
        $.ajax({
            type: "POST",
            url: '/Drivers/DriverBlance/PayDrivers?driverID=' + $("#DriverID").val() + '&taxiNumber=' + $("#TaxiNumber").val()
                + '&tripNo=' + $("#TripNo").val() + '&driverMobile=' + $("#DriverMobile").val() + '&fromDate=' + $("#FromDate").val() + '&toDate=' + $("#ToDate").val()
                + '&isEnable=' + $("input[type='radio'][name='Enable']:checked").val() + '&isActive=' + $("input[type='radio'][name='Active']:checked").val()
                + '&lowest=' + $("#LowestBalance").val()+'&type=1',
            data: {},
            success: function (response) {
                if (response.status == true) {
                    readtable();
                    swal('@Homemade.UI.Resources.Homemade.SuccessSaveMessage', '', 'success');
                }
                else {
                    swal(response.message, "", "error");
                }
            }
        });
    }
    function ConfirmCashPay() {
        $.ajax({
            type: "POST",
            url: '/Drivers/DriverBlance/PayDrivers?driverID=' + $("#DriverID").val() + '&taxiNumber=' + $("#TaxiNumber").val()
                + '&tripNo=' + $("#TripNo").val() + '&driverMobile=' + $("#DriverMobile").val() + '&fromDate=' + $("#FromDate").val() + '&toDate=' + $("#ToDate").val()
                + '&isEnable=' + $("input[type='radio'][name='Enable']:checked").val() + '&isActive=' + $("input[type='radio'][name='Active']:checked").val()
                + '&lowest=' + $("#LowestBalance").val() + '&type=2',
            data: {},
            success: function (response) {
                if (response.status == true) {
                    readtable();
                    swal('@Homemade.UI.Resources.Homemade.SuccessSaveMessage', '', 'success');
                }
                else {
                    swal(response.message, "", "error");
                }
            }
        });
    }
    function zeroPadded(val) {
        if (val >= 10)
            return val;
        else
            return '0' + val;
    }

    function getFormatDate(d) {
        var d = new Date(d);
        return d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) /*+ "T" + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds()*/;
    }
    function GetDrivers(driversID) {
        $.ajax({
            type: "POST",
            url: '/Setting/CaptainZone/GetDrivers',
            data: {},
            dataType: "json",
            async: false,
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                $('#DriverID').html('');
                $('#DriverID').append('<option></option>');
                for (var i = 0; i < result.length; i++) {
                    var item = result[i];
                    if (driversID != undefined && driversID > 0 && driversID == item.driversID) {
                        $('#DriverID').append('<option selected value="' + item.driversID + '">' + item.driversName + '</option>');
                        $('#DriverID').val(driversID).trigger('change');
                    }
                    else {
                        $('#DriverID').append('<option value="' + item.driversID + '">' + item.driversName + '</option>');
                    }
                }
            },
            error: function () {
            }
        });
    }
</script>

