<script>
    var tableCaptain;
    $(document).ready(function() {
        tableCaptain = $('#tbl_Captain').DataTable({
            pageLength: 10,
            pagijngType: "full_numbers",
            serverSide: true,
            processing: true,
            lengthMenu: [[5, 10, 10, 20, 50, 100], [5, 10, 10, 20, 50, 100]],
            sAjaxSource: '@Url.Action("LoadTableCaptain")',
            sServerMethod: "POST",
            bPaginate: true,
            paging: true,
            bFilter: true,
            bLengthChange: false,
            columns: [
                {
                    data: null,
                    bSortable: false,
                    render: function(data, type, row) {
                        return `<label class="css-input css-checkbox css-checkbox-warning"><input type="checkbox" class="checkbox" data-name="${data.driverName}" onclick="checkCaptain(this,'${data.driverName}')" id="hfID" value="${data.driversID}" /> <span></span></label>`
                    }
                },
                {
                    data: null,
                    bSortable: true,
                    render: function(data, type, row) {
                        return '<label class="cityName">' + data.driverName + '</label>';
                    }
                },
                {
                    data: null,
                    bSortable: true,
                    render: function(data, type, row) {
                        return '<label>' + data.phoneNumber + '</label>';
                    }
                },
            ],
            drawCallback: function(s) {
                $('[data-toggle="tooltip"]').tooltip();
            },
            buttons: [
    @*{
                extend: "copy",
                className: "btn btn-info btn-xs",
                text: '@Homemade.UI.Resources.Homemade.Copy'
                },*@
                {
                    extend: "excelHtml5",
                    autoFilter: true,
                    sheetName: 'Exported data',
                    className: "btn btn-success btn-xs",
                    text: '@Homemade.UI.Resources.Homemade.Excel'
                }, @*{
                extend: "print",
                className: "btn btn-warning btn-xs",
                text: '@Homemade.UI.Resources.Homemade.Print'
                },*@{
                    extend: "pdfHtml5",
                    download: 'open',
                    className: "btn btn-info btn-xs",
                    text: '@Homemade.UI.Resources.Homemade.PDF'
                }],
            "language": {
                "search": "_INPUT_",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_",
            }, dom: "<'row'<'col-sm-12'<'text-center bg-body-light py-2 mb-2'B>>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"


        });
        tableCaptain.buttons().container().appendTo('.dt_buttons_wrap');

    });
    function readCaptainTable() {
        tableCaptain.ajax.url('/Setting/CaptainZone/LoadTableCaptain?listCityID=' + $("#ListCityID").val() + '&listRegionCityID=' + $("#ListRegionCityID").val());
        tableCaptain.ajax.reload();
    }
    function GetSelectedItemsCaptain() {
        var i = 0;
        $("#tbl_Captain tbody").find('tr').each(
            function() {
                var Viewid = $(this).find('#hfID').val();

                var IsView = $(this).find('#hfID').is(':checked');
                if (IsView === true) {
                    AddCaptainToSelect(Viewid, $(this).find('#hfID').attr("data-name"));
                    i++;
                }
            }
        );
    }
    function checkCaptain(e, text) {
        var state = $(e).is(':checked');
        if (state === true) {
            $(e).prop('checked', true);
            AddCaptainToSelect($(e).val(), text);
        }
        else {
            $(e).not(":disabled").prop('checked', false);
        }
    }
    function checkAllCaptain(ele) {
        var state = $(ele).is(':checked');
        if (state === true) {
            $('#tbl_Captain .checkbox').not(":disabled").prop('checked', true);
        }
        else {
            $('#tbl_Captain .checkbox').not(":disabled").prop('checked', false);
        }
        GetSelectedItemsCaptain();
    }
</script>