@inject Homemade.BLL.Emp.BlEmployee BlEmployee
@{
    Layout = "_DashboardLayout";
    var dashSummary = BlEmployee.GetSummaryHomeCount(null);
}
@{
    ViewBag.Title = Homemade.UI.Resources.HomemadeMenu.DashBoard;
}
<!-- Stats -->
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.Orders</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Create)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-file fa-2x text-primary"></i>
                                <div class="h2 text-primary pull-right" data-toggle="countTo" data-to="36300">@dashSummary.CreateCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Pending_Accept</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Accept)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-user-md fa-2x text-smooth"></i>
                                <div class="h2 text-smooth pull-right" data-toggle="countTo" data-to="360">@dashSummary.AcceptCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Accepted</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Being_Processed)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-truck fa-2x text-success"></i>
                                <div class="h2 text-success pull-right" data-toggle="countTo" data-to="760" data-before="$">@dashSummary.BeingProcessedCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Being_Processed</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Shipping)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-motorcycle fa-2x text-amethyst"></i>
                                <div class="h2 text-amethyst pull-right" data-toggle="countTo" data-to="48">@dashSummary.ShippingCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Pending_Delivered</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Assign)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-map fa-2x text-modern"></i>
                                <div class="h2 text-modern pull-right" data-toggle="countTo" data-to="48">@dashSummary.AssignCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Assigned</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.OnWay_Store)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-table fa-2x text-warning"></i>
                                <div class="h2 text-warning pull-right" data-toggle="countTo" data-to="48">@dashSummary.OnWayStoreCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.OnWayStore</div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-6 col-lg-3">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Being_Delivery)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-drivers-license fa-2x text-warning"></i>
                                <div class="h2 text-warning pull-right" data-toggle="countTo" data-to="48">@dashSummary.BeingDeliveryCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.With_Captain</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Delivered)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-calendar-o fa-2x text-modern"></i>
                                <div class="h2 text-modern pull-right" data-toggle="countTo" data-to="48">@dashSummary.DeliveredCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Delivered</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Cancel)&cancelTypeID=@((int)CancelTypeEnum.Default)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-genderless fa-2x text-amethyst"></i>
                                <div class="h2 text-amethyst pull-right" data-toggle="countTo" data-to="48">@dashSummary.CancelCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Cancel_Orders</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <a class="block block-link-hover1" href="/Order/Orders/OrdersByStatus?statusID=@((int)OrderStatusEnum.Cancel)&cancelTypeID=@((int)CancelTypeEnum.Auto)">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-clock-o fa-2x text-success"></i>
                                <div class="h2 text-success pull-right" data-toggle="countTo" data-to="48">@dashSummary.PendingCancelCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Pending_Orders</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END Stats -->
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.Captains</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-users fa-2x text-primary"></i>
                                <div class="h2 text-primary pull-right" data-toggle="countTo" data-to="36300">@dashSummary.CertifiedCaptainCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Certified</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-user-plus fa-2x text-smooth"></i>
                                <div class="h2 text-smooth pull-right" data-toggle="countTo" data-to="360">@dashSummary.NewRequestsCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.New_Requests</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-user-circle-o fa-2x text-success"></i>
                                <div class="h2 text-success pull-right" data-toggle="countTo" data-to="760" data-before="$">@dashSummary.UnderScrutinyCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Under_Scrutiny</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-user-circle fa-2x text-modern"></i>
                                <div class="h2 text-modern pull-right" data-toggle="countTo" data-to="48">@dashSummary.WaitingActivationCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Waiting_Activation</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-user-times fa-2x text-amethyst"></i>
                                <div class="h2 text-amethyst pull-right" data-toggle="countTo" data-to="48">@dashSummary.RejectedRequestsCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Rejected</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-dot-circle-o fa-2x text-info"></i>
                                <div class="h2 text-info pull-right" data-toggle="countTo" data-to="48">@dashSummary.IsOnlineCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Online</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.Money_Transfers</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-pencil text-primary"></i>

                                <span class="text-uppercase font-w600 font-s12 text-muted"> @Homemade.UI.Resources.Homemade.Orders_Waiting_Transfer</span>
                            </div>
                            <div class="h4 font-w600 text-primary pull-left" data-toggle="countTo" data-to="36300">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.OrderPendingTransferCount <br />
                            </div>
                            <div class="h4 font-w600 text-primary pull-right" data-toggle="countTo" data-to="36300">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.OrderPendingTransferSum
                            </div>


                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-pencil-square-o text-smooth"></i> <span class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Orders_Transferred</span>
                            </div>
                            <div class="h4 font-w600 text-smooth pull-left" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.OrderTransferredCount
                            </div>
                            <div class="h4 font-w600 text-smooth pull-right" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.OrderTransferredSum
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.Invoices</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-paper-plane text-primary"></i>  <span class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Orders_Not_Inovice</span>
                            </div>
                            <div class="h4 font-w600 text-primary pull-left" data-toggle="countTo" data-to="36300">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.OrderNotInvoiceCount
                            </div>
                            <div class="h4 font-w600 text-primary pull-right" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Amount:  @dashSummary.OrderNotInvoiceSum
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-paper-plane-o text-smooth"></i>  <span class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Waiting_Review</span>
                            </div>
                            <div class="h4 font-w600 text-smooth pull-left" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.WaitingReviewCount
                            </div>
                            <div class="h4 font-w600 text-smooth pull-right" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.WaitingReviewSum
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-file-pdf-o text-success"></i>  <span class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Waiting_Transfer_Approval</span>
                            </div>
                            <div class="h4 font-w600 text-success pull-left" data-toggle="countTo" data-to="760" data-before="$">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.WaitingTransferApprovalCount
                            </div>
                            <div class="h4 font-w600 text-success pull-right" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.WaitingTransferApprovalSum
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-paperclip  text-modern"></i>  <span class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Waiting_Transfer</span>
                            </div>
                            <div class="h4 font-w600 text-modern pull-left" data-toggle="countTo" data-to="48">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.WaitingTransferConfirmationCount
                            </div>
                            <div class="h4 font-w600 text-modern pull-right" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.WaitingTransferConfirmationSum
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-lg-12">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-file-text-o  text-amethyst"></i>  <span class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Transferred</span>
                            </div>
                            <div class="h4 font-w600 text-amethyst pull-left" data-toggle="countTo" data-to="48">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.TransferredCount

                            </div>
                            <div class="h4 font-w600 text-amethyst pull-right" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.TransferredSum
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.HomeMade_Earnings</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-money fa-2x text-modern"></i>
                                <div class="h2 text-modern pull-right" data-toggle="countTo" data-to="48">@dashSummary.HomeMadeEarningsSum</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Earnings_WithOut_Delivery</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-life-bouy fa-2x text-primary"></i>
                                <div class="h2 text-primary pull-right" data-toggle="countTo" data-to="36300">@dashSummary.HomeMadeDeliveryPriceSum</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.DeliveryPrice</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-codepen fa-2x text-smooth"></i>
                                <div class="h2 text-smooth pull-right" data-toggle="countTo" data-to="360">@dashSummary.HomeMadeTotalSum</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Total_Earning</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-file-code-o fa-2x text-amethyst"></i>
                                <div class="h2 text-amethyst pull-right" data-toggle="countTo" data-to="48">@dashSummary.InvoiceEarningsSum</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Invoice_Earnings</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-circle-o-notch fa-2x text-info"></i>
                                <div class="h2 text-info pull-right" data-toggle="countTo" data-to="48">@dashSummary.NotInvoiceEarningsSum</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Not_Invoice_Earnings</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-2">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-jsfiddle fa-2x text-success"></i>
                                <div class="h2 text-success pull-right" data-toggle="countTo" data-to="760" data-before="$">@dashSummary.DeliveryTaxSum</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Delivery_Tax</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.External_Companies</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-xs-6 col-lg-4">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-bolt fa-2x text-modern"></i>
                                <div class="h2 text-modern pull-right" data-toggle="countTo" data-to="48">@dashSummary.ShippingCompanyOrdersCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Total_Count_Orders</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-4">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-lightbulb-o fa-2x text-primary"></i>
                                <div class="h2 text-primary pull-right" data-toggle="countTo" data-to="36300">@dashSummary.ShippingCompanyPendingOrdersCount</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Due_Orders_Count</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-4">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-money fa-2x text-smooth"></i>
                                <div class="h2 text-smooth pull-right" data-toggle="countTo" data-to="360">@dashSummary.ShippingCompanyDeliveryPriceSum</div>
                            </div>
                            <div class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.DeliveryPrice</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.Money_Captains</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-user-astronaut text-primary"></i>

                                <span class="text-uppercase font-w600 font-s12 text-muted"> @Homemade.UI.Resources.Homemade.Waiting_Transfer</span>
                            </div>
                            <div class="h4 font-w600 text-primary pull-left" data-toggle="countTo" data-to="36300">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.CaptainPendingTransferCount <br />
                            </div>
                            <div class="h4 font-w600 text-primary pull-right" data-toggle="countTo" data-to="36300">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.CaptainPendingTransferSum
                            </div>


                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <a class="block block-link-hover1" href="#">
                        <div class="block-content block-content-full clearfix">
                            <div class="push-10-t push-10">
                                <i class="fa fa-user-graduate text-smooth"></i> <span class="text-uppercase font-w600 font-s12 text-muted">@Homemade.UI.Resources.Homemade.Transferred</span>
                            </div>
                            <div class="h4 font-w600 text-smooth pull-left" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Count: @dashSummary.CaptainTransferredCount
                            </div>
                            <div class="h4 font-w600 text-smooth pull-right" data-toggle="countTo" data-to="360">
                                @Homemade.UI.Resources.Homemade.Amount: @dashSummary.CaptainTransferredSum
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <!-- Pie Chart -->
            <div class="block">
                <div class="block-header ">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">@Homemade.UI.Resources.Homemade.Orders</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!-- Pie Chart Container -->
                    <canvas class="js-chartjs2-pie"></canvas>
                </div>
            </div>
            <!-- END Pie Chart -->
        </div>
        <div class="col-lg-6">
            <!-- Pie Chart -->
            <div class="block">
                <div class="block-header ">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">@Homemade.UI.Resources.Homemade.Vendors</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!--   Pie Chart Container -->
                    <canvas class="js-chartjs2-pie-vendors"></canvas>
                </div>
            </div>
            <!--  END Pie Chart -->
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.Orders</h3>
        </div>
        <div class="block-content block-content-full">
            <div id="Orderschart" style="width: 100%; height: 400px"></div>
        </div>
    </div>
</div>

<div class="content">
    <div class="block">
        <div class="block-header ">
            <h3 class="block-title">@Homemade.UI.Resources.Homemade.Captains</h3>
        </div>
        <div class="block-content block-content-full">
            <div id="Captainschart" style="width: 100%; height: 400px"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="block-title">
                        <span class="header-title">@Homemade.UI.Resources.Homemade.Vendors_Waiting_Active</span>
                    </h3>
                </div>
                <div class="col-md-6 text-right">
                    <div class="text-right row">
                        <div class="col-md-12 paddingleft-0">
                            <div class="form-group block-search push-5-r pull-right">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ion-search"></i></div>
                                    <input type="text" class="form-control" id="DT_search_Vendor" placeholder="@Homemade.UI.Resources.Homemade.EnterSearchKeywords">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dt_buttons_wrap text-right"></div>
                </div>
            </div>
        </div>
        <div class="block-content block-content-full">
            <table id="tbl_Vendor" class="table table-custom js-dataTable-buttons" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.SNumber</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Logo</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Store</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.City</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Mobile</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.RegType</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Create_Date</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.VacctionStatus</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-header">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="block-title">
                        <span class="header-title">@Homemade.UI.Resources.Homemade.Orders</span>
                    </h3>
                </div>
                <div class="col-md-6">
                    <div class="text-right row">
                        <div class="col-md-12 paddingleft-0">
                            <div class="form-group block-search push-5-r pull-right">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ion-search"></i></div>
                                    <input type="text" class="form-control" id="DT_search_Order" placeholder="@Homemade.UI.Resources.Homemade.EnterSearchKeywords">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dt_buttons_wrap text-right"></div>
                </div>
            </div>
        </div>
        <div class="block-content block-content-full">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="material-select2">@Homemade.UI.Resources.Homemade.Status</label>
                        <select multiple="" id="ListOrdersStatusId" onchange="readOrdertable()" class="js-select2 form-control AddData" style="width: 100%;" data-placeholder="@Homemade.UI.Resources.Homemade.Select">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <table id="tbl_Order" class="table table-custom js-dataTable-buttons" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.SNumber</th>
                        <th class="text-center">#</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Integration_Number</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Customer</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Mobile</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Vendor</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Status</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Create_Date</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Type</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Received_Date</th>
                        <th class="text-center">@Homemade.UI.Resources.Homemade.Received_Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <!-- Data_Table Styles -->
    <link rel="stylesheet" href="~/assets/js/plugins/datatables/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/datatables/buttons-bs4/buttons.bootstrap4.min.css" />

    <!-- Select 2 Styles -->
    <link rel="stylesheet" href="~/assets/js/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/select2/select2-bootstrap.min.css" />
    <style>
        .dataTables_filter {
            display: none;
        }
    </style>

    <style>
        .table-header-bg > thead > tr > th, .table-header-bg > thead > tr > td {
            background-color: grey;
            border-bottom-color: grey;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.min.js"></script>

    <style>
        .table-header-bg > thead > tr > th {
            color: #fff;
        }
    </style>
}
    @section Scripts{

    <!-- Data_table Plugins -->
    <script charset="utf-8" src="~/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/dataTables.buttons.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/buttons.print.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/buttons.html5.min.js"></script>
    <script charset="utf-8" src="~/assets/js/plugins/datatables/buttons/buttons.flash.min.js"></script>

    <!-- Select 2 Scripts -->
    <script charset="utf-8" src="~/assets/js/plugins/select2/select2.full.min.js"></script>

    <script src="~/assets/js/plugins/chartjs/Chart.js"></script>
    <script src="~/assets/js/Chartsjs/Chart.min.js"></script>
    <script src="~/assets/js/Chartsjs/base_comp_chartjs_v2.js"></script>
    <partial name="_DataTableVendors" />
    <partial name="_DataTableOrders" />
    <partial name="_DashScripts" />
}
